body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.tab-content {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.tab-content.active {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.waveform-display-container {
  height: 750px;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
  white-space: nowrap;
}

#waveformDisplayContainer2 {
  width: 100%;
}

.container {
  max-width: 100%;
  width: 800px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1, h2 {
  font-family: "Georgia", serif;
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.emulator-button {
  justify-content: center;
  margin-top: 20px;
  display: inline-block;
}

.waveform-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  padding-left: 100px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  width: max-content; 
  white-space: nowrap;
  height: 160px;
  min-width: 1700px;
}

.waveform-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  white-space: nowrap;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.index-label {
  position: absolute;
  left: 0;
  top: 40%;
  padding: 5px;
  margin-left: 15px;
  min-width: 20px;
  max-width: 75px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.hex-box {
  display: inline-block;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #f4a261;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.waveform-label{
  width: 50px;
  font-weight: bold;
}